@import "src/styles/_variables";
@import "src/styles/_colors";

.sContainer {
  background-color: $default;
  border-radius: $default-border-radius;
  padding: 1.25rem;

  &.noPadding {
    padding: 0;
  }

  > header {
    margin-bottom: 1.5rem;

    .title {
      font-size: $base-font-size;
      font-weight: 700;
    }

  }
}