@import "src/styles/_variables";

.profileItemContainer {
  min-height: 3rem;
  display: flex;
  //max-width: 15rem;


  &.xs {
    max-width: 24rem;
  }

  .image {
    display: flex;
  }

  .detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 0.5rem;

    .title {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      font-size: $base-font-size;
      font-weight: 700;
      word-wrap: break-word;
    }

    .description {
      font-size: 0.5rem;
      color: gray;
    }

    span {
      font-weight: 500;
      font-size: 0.675rem;
    }

    b {
      font-weight: 700;
      font-size: 0.675rem;
    }

  }

  .icon {
    display: flex;
  }

  p {
    margin-bottom: 0;
  }

}