@import "../../../styles/variables";
@import "../../../styles/colors";

.addUserContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;

  .form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 1.5rem;
    border: 1px solid $default;
    border-radius: $default-border-radius;
    box-shadow: 0 0 0.675rem rgba(0, 0, 0, 0.1);

    label {
      display: block;
      margin-bottom: 0.75rem;
    }

    input {
      width: 100%;
      padding: 0.75rem;
      border-radius: $default-border-radius;
      margin-top: 0.5rem;
    }

    button {
      width: 100%;
      padding: 0.75rem;
      background-color: $success-default;
      color: $default;
      border: none;
      border-radius: $default-border-radius;
      cursor: pointer;
    }

  }

  .error {
    color: $error-default;
    font-size: $base-font-size;
  }

  .success {
    color: $success-default;
    font-size: 1rem;
  }

  @media only screen and (max-width: 1025px) {
    .form {
      max-width: 100%;
    }
  }
}