@import "src/styles/_colors";
@import "src/styles/_variables";

.headerContainer {
  background-color: $primary;
  font-size: $base-font-size;

  a {
    color: $default;
  }

  button {
    background-color: $secondary;
    font-size: $base-font-size;
  }

  .searchBar {
    background-color: $primary-dark;
    border-color: transparent;
  }

  input[type="text"]::-webkit-input-placeholder {
    color: $primary-light;
    font-size: 0.675rem;
  }

}