@import "src/styles/_variables";

.postContainer {

  > header {
    padding: 1.25rem;
  }

  > main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > p, a {
      padding: 0 1.25rem;
    }

    > img {
      object-fit: cover;
    }

  }

  > footer {
    display: flex;
    font-size: $post-footer-font-size;
    font-weight: 700;
    justify-content: space-between;
    padding: 0 1.25rem 1.25rem 1.25rem;

    .emoji {

    }

    :last-child {
      display: flex;
      gap: 1rem;
    }
  }

}