@import "src/styles/_variables";
@import "src/styles/_colors";

.sDropdownContainer{

  button {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: $default-border-radius;
    border-color: $input-border-color;
    font-size: 0.675rem;
    font-weight: 700;

    &:hover {
      background-color: $primary;
    }
  }

}